<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="container">
    <h2>{{subject}}</h2>
    <p>Vote the next points (using the arrows):</p>
    <br>
    
    <table class="table">
      <thead>
        <tr>
          <th>Issue</th>
          
          <th>Mark</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Concepts explained</td>
          <td>
            <input #concepts type="number" min="0" max="10"   class="form-control" required >
          </td>  
        </tr>
        <tr>
          <td>Difficulty</td>
          <td>
            <input #difficulty type="number" min="0" max="10"   class="form-control" required >
          </td>
        </tr>
        <tr>
            <td>Materials available</td>
            <td>
              <input #materials type="number" min="0" max="10"   class="form-control" required >
            </td>
        </tr>
        <tr>
          <td>Relation between time and workload</td>
          <td>
            <input #relation type="number" min="0" max="10"   class="form-control" required >
          </td>
        </tr>
        <tr>
          <td>Teacher mark</td>
          <td>
              <input #teacher type="number" min="0" max="10"   class="form-control" required >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div align="center">
      <button type="submit"  class="btn btn-success" (click)="vote(concepts.value, difficulty.value, materials.value, relation.value, teacher.value)">Vote</button>
    </div>
</body>
</html>
