<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Your subjects</h2>
  <p>You can see the results for your subjects:</p>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Subject</th>
      <th>View results</th>
    </tr>

    </thead>
    <tbody>
    <tr>
      <td>CITIE2</td>
      <td>
        <span class="input-group-btn">
          <button type="submit" name="button" class="btn btn-primary" id="bt">View results <i class="fa fa-angle-right"></i></button>
          </span>
      </td>
    </tr>
    <tr>
      <td>TIQ</td>
      <td>
        <span class="input-group-btn">
          <button type="submit" name="button" class="btn btn-primary" id="bt">View results <i class="fa fa-angle-right"></i></button>
          </span>
      </td>
    </tr>
    <tr>
      <td>ERF</td>
      <td>
        <span class="input-group-btn">
          <button type="submit" name="button" class="btn btn-primary" id="bt">View results <i class="fa fa-angle-right"></i></button>
          </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
