<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
    <h2>TIQ</h2>
    <p>Vote the next points:</p>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Issue</th>
          <th>Mark</th>
        </tr>
        <br>
      </thead>
      <tbody>
        <tr>
          <td>Concepts explained in the subject</td>
        <td>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Your mark
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">10</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">0</a></li>
          </ul>
        </div>
        <br>

  </table>

  <button type="button" class="btn btn-primary btn-lg">Send results</button>

  </div>
</body>
</html>
