<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>TIQ</h2>
  <p>The results are:</p>
  <br>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Issue</th>
      <th>Mark</th>
    </tr>

    </thead>
    <tbody>
    <tr>
      <td>Concepts explained in the subject</td>
      <td>7.8</td>

    <tr>
    <tr>
      <td>Difficulty</td>
      <td>7.8</td>

    <tr>
    <tr>
      <td>Relation time/workload</td>
      <td>7</td>

    <tr>
    <tr>
      <td>Materials available</td>
      <td>7.8</td>

    <tr>
    <tr>
      <td>Professor skills</td>
      <td>7.8</td>

    <tr>



  </table>



</div>
</body>
</html>
